/* Header de todas las paginas*/
header .nav-item {
  padding: 5px;
  display: flex;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
header .nav-item .nav-link {
  color: #040157;
  padding: 5px;
  border-radius: 20px;
}
header .nav-item .nav-link:hover {
  border: none;
  background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
  background-size: 100%;
  color: white;
  font-weight: bold;
  transition: 1s;
}
header .filter_header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
header .filter_header input {
  border: none;
  border-bottom: 1px solid #a200ff;
}
header button.btn {
  background: rgba(208, 1, 208, 0.5333333333);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 5px;
}
header button.btn:hover {
  background: #a200ff;
  background-size: 1500%;
  border-radius: 15px;
  transition: -1s;
}

/* Section_One-INDEX */
.carrusel_index .carousel {
  margin-bottom: 5px;
}
@media only screen and (min-width: 700px) {
  .carrusel_index .carousel {
    width: 50%;
  }
}

section .content_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(100deg, rgba(50, 168, 232, 0.5921568627), rgba(124, 21, 202, 0.5568627451), rgba(208, 1, 208, 0.5333333333));
  padding: 3px;
  margin: 3px;
}
section .category_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  section .category_content {
    width: 30%;
  }
}
section .category_content img {
  margin-top: 10px;
  border-radius: 30px;
  object-fit: contain;
  width: 60%;
}
@media only screen and (max-width: 600px) {
  section .category_content img {
    width: 50%;
  }
}
section .category_content a {
  font-size: 12pt;
  text-decoration: none;
  color: #040157;
  padding: 3px;
  text-align: center;
  border-radius: 10px;
}
section .category_content a:hover {
  background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
  background-size: 100%;
  color: white;
  font-weight: bold;
  transition: 1s;
}

/* Section_Two-INDEX*/
section h1 {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: 900;
  animation: AnimOfertas 2s linear 0s 1 normal backwards;
}
@keyframes AnimOfertas {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (min-width: 620px) {
  section .container_ofertas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
section .container_ofertas .content_ofertas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5px;
  margin: 5px;
  padding: 5px;
  margin: 5px;
}
section .container_ofertas .content_ofertas:hover {
  box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
  -webkit-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
  -moz-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
  border-radius: 30px;
}
section .container_ofertas .content_ofertas img {
  object-fit: cover;
  border-radius: 10px;
  width: 60%;
}
section .container_ofertas .content_ofertas li {
  list-style: none;
  color: #666;
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 600px) {
  section .container_ofertas .content_ofertas li {
    width: 50%;
  }
}

/* Section_Three-INDEX */
section .content_promo {
  padding: 10px;
}
@media only screen and (min-width: 700px) {
  section .content_promo {
    width: 100%;
  }
  section .content_promo .container_img_promo {
    width: 50%;
  }
}
section .content_promo h1 {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: 900;
  animation: AnimOfertas 2s linear 0s 1 normal backwards;
}
section .content_promo .container_img_promo img {
  object-fit: cover;
  width: 100%;
  border-radius: 200px;
  box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
  -webkit-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
  -moz-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.7490196078);
}
section .content_promo .container_img_promo img:hover {
  animation: imgAnim_promo 5s linear 0s 4 normal forwards;
}
@keyframes imgAnim_promo {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/* Section_Four-INDEX */
section {
  font-family: "Nunito Sans", sans-serif;
}
section .title_publicar {
  margin-top: 3vh;
  animation: AnimContentPublic 10s linear 0s 4 normal forwards;
}
@keyframes AnimContentPublic {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
section .title_publicar h2 {
  text-align: center;
  color: #7a08e4;
  font-size: 20pt;
  padding-top: 5px;
}
section .title_publicar h4 {
  text-align: center;
  color: #942ff3;
  padding-top: 5px;
}
section .info_publicar {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
section .info_publicar .content_publicar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  section .info_publicar .content_publicar img {
    width: 80%;
  }
}

footer {
  margin-top: 2px;
}
footer .footerResponsive {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 720px) {
  footer .footerResponsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
  }
}
footer .container_brand_footer img {
  object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 650px) {
  footer .container_brand_footer img {
    width: 80%;
    margin-top: 5px;
  }
}
footer .btn_footer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (min-width: 650px) {
  footer .btn_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
}
footer .btn_footer li {
  list-style: none;
}
footer .btn_footer a {
  text-decoration: none;
  font-size: 10pt;
  border-radius: 100px;
  padding: 6px;
  color: #040157;
}
footer .btn_footer a:hover {
  background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
  background-size: 100%;
  transition: 1s;
  color: white;
}
footer .container_btn_rs {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
}
footer .container_btn_rs li {
  list-style: none;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid;
  cursor: grab;
}
footer .container_btn_rs a {
  text-decoration: none;
  color: #1a2b9c;
  font-size: small;
}
footer .creditos {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: small;
}

.bxl-whatsapp {
  color: green;
}

.bxl-instagram {
  color: #a31777;
}

.bxl-telegram {
  color: #32a8e8;
}

.bxl-twitter {
  color: #03a2f7;
}

.bx-envelope {
  color: #666;
}

.bxl-bitcoin {
  color: #F58634;
  font-size: 16pt;
}

.bxs-dollar-circle {
  color: green;
  font-size: 16pt;
}

.bxs-check-circle {
  color: #014457;
}

.bx-map {
  color: red;
}

.bx-atom {
  color: #006faa;
  font-size: 12pt;
}

.bx-coin-stack {
  color: rgb(60, 0, 255);
}

/* variables*/
.filter_comercio {
  margin: 5px;
}
@media only screen and (min-width: 620px) {
  .filter_comercio {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .filter_comercio {
    display: none;
  }
}
.filter_comercio form input {
  width: 25vh;
}
.filter_comercio select {
  margin: 3px;
  border: none;
  border-bottom: 1px solid #a200ff;
}
.filter_comercio button {
  margin: 5px;
}

.container_filter_mobile .btn_filter_mobile {
  padding: 5px;
  margin: 1px;
  border-radius: 20px;
  background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
  color: white;
}

.container_market {
  display: grid;
  grid-template-rows: repeat(3, 260px);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .container_market {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container_market .content_market {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 50px;
  border: none;
  margin: 4px;
  position: relative;
  opacity: 1;
}
.container_market .content_market .img_market {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.container_market .content_market .img_market:hover {
  opacity: 0.25;
}
.container_market .content_market .info_market {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_market .content_market .market_vermas {
  text-align: center;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
}
.container_market .content_market .market_vermas:hover {
  opacity: 1;
}
.container_market .content_market .market_vermas li {
  list-style: none;
  padding: 5px;
  margin: 1px;
  border-radius: 20px;
  background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
}
.container_market .content_market .market_vermas li:hover {
  background-size: 100%;
  transition: 0.5s;
}
.container_market .content_market .market_vermas a {
  text-decoration: none;
  color: #040157;
}
.container_market .content_market .market_vermas a:hover {
  color: white;
  transition: 0.5s;
}
.container_market .content_market strong {
  font-weight: 900;
}
.container_market .content_market .dropdown-menu {
  border: none;
}
.container_market .content_market .dropdown-menu li {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container_market .content_market .dropdown-menu li span {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
