footer{
    .container_brand_footer img{
            width: auto;
            height: 9vh;
            object-fit: cover;
            float: left;
    }
    .btn_footer{
        margin-top: 25px;
        ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-direction: row;
        justify-content: space-evenly;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        font-size: 11pt;
        border-radius: 100px;
        padding: 3px;
        color: #040157;

        &:hover {
            background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
            background-size: 100%;
            transition: 1s;
            color: white;
        }
    }
    }
}
.container_btn_rs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: row;

    li{
        list-style: none;
        display: flex;
        list-style: none;
        align-items: center;
        padding: 2px;
        border-bottom: 1px solid;
        cursor: grab;
    }
    a{
        text-decoration: none;
        color: #1a2b9c;
    }
}
.creditos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: small;
}
}