header {
    .filter_header {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }

    .filter_header input {
        border: none;
        border-bottom: 1px solid #a200ff;
    }

    button.btn {
        background: #d001d088;
        border: none;
        letter-spacing: 0.05em;
        border-radius: 10px;
        padding: 6px;
        margin-bottom: 5px;

        &:hover {
            background: #a200ff;
            background-size: 1500%;
            border-radius: 15px;
            transition: -1s;
        }
    }
}

