/* Header de todas las paginas*/

header {
    .nav-item {
        padding: 5px;
        display: flex;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;

        .nav-link {
            color: #040157;
            padding: 5px;
            border-radius: 20px;

            &:hover {
                border: none;
                background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
                background-size: 100%;
                color: white;
                font-weight: bold;
                transition: 1s;
            }
        }
    }

    .filter_header {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }

    .filter_header input {
        border: none;
        border-bottom: 1px solid #a200ff;
    }

    button.btn {
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
        background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
        color: white;
        
        &:hover{
            color: white;
        }
    }
}