/* PRODUCTOS*/

.desktop_productos {

    .filter_productos-desktop {
        width: 200px;
        height: 800px;
        margin: 6px;

        h4 {
            text-align: center;
            text-decoration: underline;
        }

        /* ---------------Medias------------------*/
        /* mobile */
        @media only screen and (max-width: 600px) {
            display: none;
        }

        /* tablet */
        @media only screen and (max-width: 880px) {
            height: 600px;
        }

        /* large-desktop */
        @media only screen and (min-width: 1020px) {
            width: 250px;
            height: 600px;
        }

        /* contenido_filter */
        .content_filter-desktop {
            margin: 6px;

            @media only screen and (max-width: 880px) {
                margin: 2px;
            }
        }

        .input_filter {
            width: 170px;
        }

        .btn_filter-desktop {
            padding: map-get($botones, pdn);
            margin: map-get($botones, mgn);
            border-radius: map-get($botones, bd-radio);
            border: map-get($botones , bd);
            background: linear-gradient(0deg, #32a8e87e, #7c15ca95, #942ff3a3);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &:hover {
                background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
                transition: 0.2s;
            }

            &:active {
                padding: 3px;
                transition: 0.2s;
            }
        }

        .btn_filter {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: stretch;

        }

    }

    .container_producto {
        width: 800px;


        /* ---------------Medias------------------*/
        /* mobile */
        @media only screen and (min-width: 500px) {
            width: 100%;
        }

        /* tablet */
        @media only screen and (min-width: 600px) {
            width: 450px;

        }

        /* large-desktop */
        @media only screen and (min-width: 1200px) {
            width: 780px;
        }
    }

    /* contenido_productos*/

    .content_producto {
        display: flex;
        flex-direction: column;
        margin: 15px;

        .info_product {
            position: relative;

            h5 {
                text-align: map-get($titulos , title );
                font-weight: 900;
                font-size: map-get($bx-icon , font3 );
                margin-top: map-get($btn_mobile , mg );

                @media only screen and (max-width: 425px) {
                    font-size: 15pt;
                }
            }

            li {
                list-style: none;
                display: flex;
                align-items: center;
            }
        }

        .container_comprar {
            position: absolute;

            li {
                list-style: none;
                background: linear-gradient(0deg, #32a8e87e, #7c15ca95, #942ff3a3);
                width: 40px;
                border-radius: 40px;
                margin-top: 5px;
                margin-left: 5px;
                text-align: center;

                &:hover {
                    transition: 0.5s;
                    background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
                }

                a {
                    i {
                        margin-top: map-get($btn_mobile , mgn);
                        font-size: 25pt;

                        &:hover {
                            color: map-get($bx-icon , generic );
                            transition: 0.8s;
                        }
                    }

                }
            }
        }
    }
}