section {
    .content_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(100deg, #32a8e897, #7c15ca8e, #d001d088);
        padding: 3px;
        margin: 3px;
    }

    .category_content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .category_content img {
        margin: 3px;
        border-radius: 30px;
    }

    .category_content a {
        font-size: 12pt;
        text-decoration: none;
        color: #040157;
        padding: 3px;
        text-align: center;

        &:hover {
            background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
            background-size: 100%;
            color: white;
            border-radius: 10px;
        }
    }
}

section .container_ofertas {
    h1 {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
    }

    .content_ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: stretch;
        align-content: space-around;
        padding: 5px;
        margin: 5px;

        &:hover{
                box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
                -webkit-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
                -moz-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
                border-radius: 50px;
        }

        & img {
            object-fit: contain;
            border-radius: 10px;
            width: 50%;
        }

        & li {
            list-style: none;
            color: #666;
            font-size: 13pt;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: stretch;
            align-items: center;
            justify-content: flex-start;
        }
        & .bxl-bitcoin {
            color: #F58634;
            font-size: 16pt;
        }
        
        & .bxs-dollar-circle {
            color: green;
            font-size: 16pt;
        }
        
        & .bxs-check-circle {
            color: #014457;
        }
        
    }
}
section .content_promo{
    padding: 10px;
    h1 {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
    }
    .container_img_promo img{
        object-fit: cover;
        border-radius: 200px;
        box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
        -webkit-box-shadow: 10px 10px 49px 0px rgba(117, 57, 210, 0.75);
        -moz-box-shadow: 10px 10px 49px 0px #7539d2bf;
        width: 100%;

        &:hover{
            animation: imgAnim_promo 5s linear 0s 4 normal forwards;
        }
        @keyframes imgAnim_promo {
            0% {
                animation-timing-function: ease-out;
                transform: scale(1);
                transform-origin: center center;
            }
        
            10% {
                animation-timing-function: ease-in;
                transform: scale(0.91);
            }
        
            17% {
                animation-timing-function: ease-out;
                transform: scale(0.98);
            }
        
            33% {
                animation-timing-function: ease-in;
                transform: scale(0.87);
            }
        
            45% {
                animation-timing-function: ease-out;
                transform: scale(1);
            }
        }
    }
}
section{
    .title_publicar{
    margin-top: 3vh;
    @keyframes AnimContentPublic {
        0%,
        100% {
            transform: rotate(0deg);
            transform-origin: 50% 0;
        }
        10% {
            transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
            transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
            transform: rotate(4deg);
        }
        80% {
            transform: rotate(-2deg);
        }
        90% {
            transform: rotate(2deg);
        }
    }
    animation: AnimContentPublic 10s linear 0s 4 normal forwards; ;
    h2{
        text-align: center;
        color: #7a08e4;
        font-size: 20pt;
        padding-top: 5px;
    }
    h4{
        text-align: center;
        color: #942ff3 ;

        padding-top: 5px;
    }
}
    .info_publicar{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    .content_publicar{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: stretch;
        justify-content: center;
    }
    }
}