/* Section_One-INDEX */

.carrusel_index {

    .carousel {
        @media only screen and (min-width: 700px) {
            width: 50%;
        }
        margin-bottom: 5px;
    }
}

section {

    .content_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(100deg, #32a8e897, #7c15ca8e, #d001d088);
        padding: 3px;
        margin: 3px;
    }

    .category_content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        @media only screen and (max-width: 600px) {
            width: 30%;
        }
    }

    .category_content img {
        margin-top: 10px;
        border-radius: 30px;
        object-fit: contain;
        width: 60%;

        @media only screen and (max-width: 600px) {
            width: 50%;
        }
    }

    .category_content a {
        font-size: 12pt;
        text-decoration: none;
        color: #040157;
        padding: 3px;
        text-align: center;
        border-radius: 10px;

        &:hover {
            background: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
            background-size: 100%;
            color: white;
            font-weight: bold;
            transition: 1s;
        }
    }
}