/* ICONOS */
.bxl-whatsapp{
    color: map-get($bx-icon,whatsapp );
    font-size: map-get($bx-icon ,font1 );
}

.bxl-instagram {
    color: map-get($bx-icon,instagram );
    font-size: map-get($bx-icon ,font1 );

}

.bxl-telegram {
    color: map-get($bx-icon,telegram );
    font-size: map-get($bx-icon ,font1 );
}

.bxl-twitter {
    color: map-get($bx-icon,twitter);
    font-size: map-get($bx-icon ,font1 );
}

.bx-envelope {
    color: map-get($bx-icon,email );
    font-size: map-get($bx-icon ,font1 );
}

.bxl-bitcoin {
    color: map-get($bx-icon,bitcoin );
    font-size: map-get($bx-icon ,font2 );

}

.bxs-dollar-circle {
    color: map-get($bx-icon,dolar );
    font-size: map-get($bx-icon ,font2 );
}

.bx-user-check {
    color: map-get($bx-icon,dvendedor );
    font-size: map-get($bx-icon ,font2 );
}

.bx-check-shield {
    color: map-get($bx-icon,scontract );
    font-size: map-get($bx-icon ,font2 );
}


.bx-map {
    color: map-get($bx-icon,maps );
    font-size: map-get($bx-icon ,font2 );
}
.bx-atom {
    color: map-get($bx-icon,atom );
    font-size: map-get($bx-icon ,font1 );
}

.bx-coin-stack {
    color: map-get($bx-icon,redes );
    font-size: map-get($bx-icon ,font2 );
}

.bx-search-alt {
    color: map-get($bx-icon,generic );
    font-size: map-get($bx-icon ,font3 );
}

.bx-slider {
    color: map-get($bx-icon,generic );
    font-size: map-get($bx-icon ,font3 );
}

.bx-cart-download {
    color: map-get($bx-icon,comprar );
    font-size: map-get($bx-icon ,font3 );

    &:hover {
        color: white;
    }

    &:active {
        padding: 5px;
        transition: 0.3s;
    }
}