
/* variables*/

$bg-botones: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
$font-pag: 'Nunito Sans', sans-serif;

header{
    font-family: $font-pag;
}
section{
    font-family: $font-pag;
}
main{
    font-family: $font-pag;
}
footer{
    font-family: $font-pag;
}