
/* variables*/

$bg-botones: linear-gradient(250deg, #32a8e8, #7c15ca, #942ff3);
$font-pag: 'Nunito Sans', sans-serif;
$bg-other: linear-gradient(250deg, #32a8e8a8, #7c15caa0, #942ff395);

body{
    header{
    font-family: $font-pag;
}
.container_filter_mobile{
    font-family: $font-pag;
}
.filter_productos-desktop{
    font-family: $font-pag;
}
section{
    font-family: $font-pag;
}
main{
    font-family: $font-pag;
}
footer{
    font-family: $font-pag;
}
}